a {
    color: black;
    font-weight: bold;
}
.sub {
  font-size: xx-small;
}
.F5F5F5 {
  background-color: #F5F5F5;
}
footer {
  background-color: black;
}
.btn {
  border-radius: 20px;
}
.box {
  margin: 0 auto;
  text-align: center;
}
.box2 {
  box-sizing: border-box;
  width: 620px;
  height: 50%;
  padding: 10px;
}
.menu-table th {
  padding: 20px 60px;
}
.menu-table th a {
  font-weight: 600;
}
.menu-table td {
  padding: 4px 60px;
}
.menu-table td a {
  color: #7f7f7f;
  font-weight: 500;
}
.menu-table2 th {
  font-size: medium;
  padding: 4px 50px 4px 0;
}
.menu-table2 th a {
  font-weight: 600;
  color: #fff;
}
.menu-table2 td {
  font-size: small;
  padding: 4px 60px 4px 0;
}
.menu-table2 td a {
  color: #7f7f7f;
  font-weight: 500;
}